*, *:after, *:before { box-sizing: border-box; }
			body {
				margin: 1em;
				background-attachment: fixed;
				background-size: 250%;
				background-position: center;
			}
			.alignementCentre {
				text-align: center; /* centrer le contenu en ligne */
				margin: auto; /* centrer le bloc*/
				font-size: 3em;
			}
			a {
				padding:0.2em;
				background-color: #eee8aa;
				font-weight: bold;
				text-decoration: none;
				border: 1.5px solid red;
				background-position: center;
			}